html,body {
  min-height: 100%;
}

body {
  background: #fff;
  color: #4b4b4b;
  font: 100% Helvetica, "Helvetica Neue", Arial, sans-serif;
  line-height: 1;
  margin: 0;
  text-rendering: optimizeLegibility;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Georgia, Times, "Times New Roman", serif;
}

h1 {
  font-size: 1.75rem;
  margin: 1.75rem 0;
}

h2 {
  font-size: 1.25rem;
  margin: 1.25rem 0;
}

p {
  margin: 1rem 0;
}

a {
  color: #8085c1;
  text-decoration: none;
  transition: color 300ms ease-out;
}

a:hover, a > [class^="icon-"]:hover, a > [class*=" icon-"]:hover {
  color: #aaaac1;
}

a > [class^=icon-] {
  color: #606060;
}

hr {
  background: #e0e0e0;
  border: none;
  height: 1px;
  overflow: visible;
}

main {
  line-height: 1.5rem;
  margin: 0 auto;
  max-width: 45rem;
  text-align: justify;
}

header {
  border-spacing: 0 1rem;
  display: table;
  margin: 0 auto;
  width: 100%;
}

header .avatarandtitle,header nav {
  display: table-cell;
  vertical-align: middle;
}

header nav .nav-page,header h1,header h2,header img {
  display: inline-block;
  vertical-align: middle;
}

header .avatarandtitle {
  text-align: left;
}

header .avatarandtitle h1 {
  font-size: 1.25rem;
  margin: 0 0 0 .5rem;
}

header .avatarandtitle img {
  border-radius: 3rem;
  width: 3rem;
}

header nav {
  text-align: right;
}

header nav h2 {
  font-size: 1.1rem;
}

header nav .nav-page:after {
  content: "\2014";
  padding: 0 .5rem;
}

header nav .nav-page:last-child:after {
  content: none;
}

footer {
  padding: 1rem 0;
  text-align: center;
}

footer hr {
  width: 33%;
}

footer address {
  display: inline-block;
  font-size: 1.2rem;
  padding: .5rem 1em;
}

.page-title {
  margin-bottom: 2rem;
}

section {
  font-size: 1.25rem;
  padding: 0 2.5rem;
}

section abbr {
  border-bottom: 1px dashed;
}

@media screen and max-width 767px {
  main {
    margin-top: 1rem;
  }

  header,header .avatarandtitle,header nav {
    display: block;
    text-align: center;
  }

  header nav {
    margin: 1rem 0 2rem;
  }
}

@media screen and max-width 650px {
  section {
    padding: 0 1.25rem;
  }
}
