--bg-color: #303030;
--bg-color-alt: #808080;

--text-color: #bbb;
--link-color: #e0e0e0;
--link-hover-color: #fff;
--icon-color: #fbb250;
--separator-color: #606060;

--kbd-color: #bbb;
--kbd-bg-color: #303030;
--kbd-border-color: #909090;
--kbd-text-shadow-color: #505050;
