--background-color: #222222;

--code-background-color: #222222;
--code-text-color: #f7f7f7;

--border-color: #555555;

--text-default-color: #aaaaaa;
--text-faded-color: #666666;

--accent-color: #fbb250;

--kbd-border-color: #999999;
--kbd-text-shadow-color: #444444;
