
      <footer>
        <hr>
        <address>
          <a title="Email" href="mailto:{{ site.email }}">
            <span class="icon-mail"></span>
          </a>
        </address>
        <address>
          <a title="LinkedIn"  href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank" rel="noopener">
            <span class="icon-lnkdn"></span>
          </a>
        </address>
        <address>
          <a title="Github"  href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener">
            <span class="icon-github"></span>
          </a>
        </address>
        <address>
          <a title="Twitter" href="https://twitter.com/{{ site.twitter_username }}" target="_blank" rel="noopener">
            <span class="icon-twttr"></span>
          </a>
        </address>
      </footer>
    </main>
    {% if page.custom_css %}
      {% for stylesheet in page.custom_css %}
        <link href="{{ site.url }}/assets/css/{{ stylesheet }}.css" rel="stylesheet" media="all">
      {% endfor %}
    {% endif %}
    <noscript>
      <link rel="stylesheet" href="{{ site.url }}/assets/css/fonts.css" media="all">
    </noscript>
    <script type="text/javascript">
     {% include theme.js %}
    </script>
  </body>
</html>
