/* Light & dark themes *******************************************************/

:root {
  {% include light-theme-vars.css %}
  --sans-font-family: "IBM Plex Sans",
                      ui-sans-serif,
                      system-ui, -apple-system, BlinkMacSystemFont,
                      "Helvetica Neue",
                      "Segoe UI", Arial,
                      Roboto,
                      Oxygen-Sans, Ubuntu, Cantarell,
                      sans-serif;
  --monospace-font-family: "IBM Plex Mono",
                           ui-monospace,
                           "Menlo", "Monaco",
                           Consolas,
                           "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
                           monospace;
}

[data-theme="dark"] {
  {% include dark-theme-vars.css %}
}

[data-theme="dark"] img {
  filter: brightness(.5) saturate(.25);
  transition: 200ms ease-out filter;
}

[data-theme="dark"] img:hover {
  filter: none;
}

/* Base elements *************************************************************/

html { margin: 0; padding: 0; box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

body {
  background-color: var(--background-color);
  color: var(--text-default-color);
  font: 18px/28px var(--sans-font-family);
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 1rem;
  max-width: 40rem;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 2.5rem;
}

h1, h2 {
  line-height: 3rem;
}

h3, h4 {
  line-height: 2rem;
}

h5, h6 {
  line-height: 1.5rem;
}

pre, code, kbd {
  font: 16px/26px var(--monospace-font-family);
  background-color: var(--code-background-color);
  border-radius: 5px;
  overflow-x: scroll;
}

kbd {
  padding: .25rem;
}

ul, ol {
  list-style-type: none;
  margin-left: 0;
  padding-left: 1rem;
}

ul li:not(:first-of-type),
ol li:not(:first-of-type) {
  margin-top: 1rem;
}

ul ul, ol ol {
  margin: 1rem 0;
  padding-left: 1rem;
}

ul li:before {
  content: "—";
  margin-right: .5rem;
  color: var(--text-secondary-color);
}

ol {
  counter-reset: item;
}

ol li:before {
  counter-increment: item;
  content: counters(item, ".") ")";
  color: var(--text-secondary-color);
  margin-right: .5rem;
}

a {
  color: currentColor;
  text-decoration: none;
  font-weight: bold;
  transition: color 250ms ease-out;
}

a[href*="//"]:not([href*="{{ site.url }}"]):after {
  content: "\27b6";
  color: var(--text-secondary-color);
  position: relative;
  left: .1rem;
  bottom: .5rem;
  transition: color 250ms ease-out;
}

a:hover, a[href*="//"]:not([href*="{{ site.url }}"]):hover:after {
  color: var(--accent-color);
  border-color: currentColor;
}

img {
  display: block;
  border: 1px solid var(--text-secondary-color);
  border-radius: 5px;
  max-width: 110%;
  margin: 1rem -2rem;
}

blockquote {
  color: var(--text-secondary-color);
  font-style: italic;
  margin: 0 1rem;
}

blockquote:before, blockquote cite:before {
  font-style: normal;
  float: left;
  margin: 0 0 0 -1rem;
}

blockquote:before {
  content: "> ";
}

blockquote cite:before {
  content: "— ";
}

hr {
  background-color: var(--text-secondary-color);
  border: none;
  height: 1px;
  margin: 1.5rem auto;
  width: 50%;
}

table {
  margin: 2rem auto;
  border-collapse: collapse;
  font-size: 1rem;
}

td, th {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

th {
  text-align: left;
}

th, tr:not(:last-of-type) > td {
  border-bottom: 1px solid var(--text-secondary-color);
}

td:nth-of-type(n+2), th:nth-of-type(n+2) {
  padding-left: 1.5rem;
}

abbr {
  border-bottom: 1px dashed currentColor;
  cursor: help;
}

address {
  font-style: normal;
  text-align: center;
  margin: 1rem auto;
}

dt { font-weight: bold; }

dt:before {
  content: "\261e";
  font-size: 1.75rem;
  vertical-align: middle;
  padding-right: 1rem;
}

dt:not(:first-child) {
  margin-top: 2rem;
}

dd {
  margin-left: 2.75rem;
}

dd > p {
  margin: .5rem 0;
}

article {
  margin-bottom: 2rem;
}

/* Header ********************************************************************/

.site-header {
  display: flex;
  margin-bottom: 5rem;
  justify-content: space-between;
}

.site-title {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

#theme-toggle {
  cursor: pointer;
  margin-left: .5rem;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
}

.site-navigation .nav-page:not(first-of-type) {
  margin-left: 1rem;
}

.site-navigation .nav-page:not(.nav-current):not(:hover) {
  color: var(--text-secondary-color);
}

/* Footer ********************************************************************/

.site-footer {
  font-size: .9rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.site-footer p {
  margin-top: 0;
}

/* Contents ******************************************************************/

.page-title, .post-header {
  margin-bottom: 3rem;
}

.page-title, .post-header > .post-title {
  color: var(--accent-color);
}

.post-info {
  color: var(--text-secondary-color);
  display: flex;
  justify-content: space-between;
}

.post-info [class^="icon-"] {
  color: var(--text-secondary-color);
}

.post-title {
  margin-bottom: 0;
}

.posts-placeholder {
  text-align: center;
  padding-left: 0;
}

.posts {
    padding-left: 0;
}

.posts li:before {
  content: none;
}

.posts li:not(:last-of-type) {
  margin-bottom: 2rem;
}

.post-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.post-navigation p {
  flex: 1 1 0;
  width: 45%;
  margin: 0;
}

.post-navigation .next {
  text-align: right;
}

.post-navigation .previous:before,
.post-navigation .next:after {
  font-size: 2rem;
  vertical-align: middle;
  color: var(--text-secondary-color);
}

.post-navigation .previous:before {
  content: "\261c";
  margin-right: .5rem;
}

.post-navigation .next:after {
  content: "\261e";
  margin-left: .5rem;
}

.footnotes {
  color: var(--text-secondary-color);
}

.footnotes ol {
  counter-reset: footnote;
}

.footnotes li p:first-of-type {
  display: inline-block;
  margin-bottom: 0;
}

.footnotes li:before {
  counter-increment: footnote;
  content: counters(footnote, "");
  vertical-align: super;
  font-size: smaller;
  font-weight: bolder;
  margin-right: 0;
}

.footnotes li:target,
.footnotes li:target:before {
  color: var(--accent-color);
}

.footnote {
  margin-left: .25rem;
}

ol#markdown-toc li:before {
  content: counters(item, ".", upper-roman) ")";
}

/* Code blocks & highlighting ************************************************/

pre.highlight {
  margin: 0 -2rem;
  padding: .5rem 1rem;
}

pre.highlight > code {
  background-color: transparent;
}

pre.highlight .c,
pre.highlight .ch,
pre.highlight .cd,
pre.highlight .cm,
pre.highlight .cpf,
pre.highlight .c1,
pre.highlight .cs {
  color: var(--text-secondary-color);
  font-style: italic;
}

code.highlighter-rouge {
  padding: .125rem .25rem;
}

/* Media queries *************************************************************/

@media screen and (max-width: 767px) {
  pre.highlight, img {
    margin: 1rem 0;
  }

  body {
    margin: 0 1rem;
  }

  img {
    max-width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .page-title {
    text-align: center;
  }

  .site-header {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .site-title {
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding-bottom: 3rem;
  }

  .site-navigation {
    justify-content: space-between;
  }

  .post-info {
    flex-direction: column;
  }
}

/* Fonts *********************************************************************/

@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/assets/fonts/IBMPlexSans-Regular-Latin1.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url("/assets/fonts/IBMPlexSans-Italic-Latin1.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("/assets/fonts/IBMPlexSans-SemiBold-Latin1.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url("/assets/fonts/IBMPlexSans-SemiBoldItalic-Latin1.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/assets/fonts/IBMPlexMono-Regular-Latin1.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url("/assets/fonts/IBMPlexMono-Italic-Latin1.woff2") format("woff2");
}

/* Icons *********************************************************************/

@font-face {
  font-family: "Icons";
  src: url("/assets/fonts/Icons.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: "Icons" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  color: var(--accent-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-date:before { content: "\e900"; }
.icon-blog:before { content: "\e901"; }
.icon-about:before { content: "\e902"; }
.icon-projects:before { content: "\e903"; }
.icon-light:before { content: "\e904"; }
.icon-dark:before { content: "\e905"; }
.icon-mail:before { content: "\e90c"; }
.icon-tag:before { content: "\e906"; }
.icon-syndication:before { content: "\e907"; }
.icon-ghub:before { content: "\e908"; }
.icon-lnkdn:before { content: "\e909"; }
.icon-twttr:before { content: "\e90a"; }
