/* Theme variables ***********************************************************/

:root {
  {% include light-theme-vars.css %}
}

[data-theme="dark"] {
  {% include dark-theme-vars.css %}
}

/* Elements ******************************************************************/

body {
  background-color: var(--background-color);
  color: var(--text-default-color);
  font-family: "Zilla Slab", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 18px;
  margin: 1rem auto;
  max-width: 37.5rem;
  transition: background-color 200ms ease-in;
}

h1, h2, h3, h4, h5 {
  letter-spacing: .05rem;
  margin: 2.5rem 0 1rem 0;
}

p, ul {
  line-height: 1.5rem;
  letter-spacing: .025rem;
  word-spacing: .05rem;
}

ul {
  list-style-type: none;
}

ul ul {
  margin: 1rem 0;
}

article > ul,
section > ul {
  margin-left: 0;
  padding-left: 0;
}

ul li:not(:first-of-type) {
  margin-top: 1rem;
}

ul li:before {
  content: "\21a0\a0";
  color: var(--text-faded-color);
}

a {
  text-decoration: none;
  color: currentColor;
  border-bottom: 1px dashed currentColor;
  font-weight: 500;
  transition: color 200ms;
}

h1, a:hover {
  color: var(--accent-color);
}

img {
  max-width: 100%;
  filter: drop-shadow(0 2px 4px var(--border-color));
}

blockquote {
  position: relative;
  margin: 3rem auto 2rem auto;
  max-width: 75%;
}

blockquote p {
  font-style: italic;
  display: inline;
}

blockquote:before, blockquote:after, blockquote cite {
  color: var(--accent-color);
}

blockquote:before, blockquote:after {
  position: absolute;
  font-size: 3em;
}

blockquote:before {
  content: open-quote;
  margin-left: -1em;
  margin-top: -.5em;
}

blockquote:after {
  content: close-quote;
  bottom: 0;
  right: 0;
  margin-right: -.8em;
  margin-bottom: -.8em;
}

blockquote cite {
  display: block;
}

blockquote cite:before {
  content: "\2014 \2009";
  margin: 0 .25rem;
}

hr {
  background-color: var(--border-color);
  border: none;
  height: 1px;
  width: 100%;
  margin: 1rem 33.3%;
}

/* Header ********************************************************************/

.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.site-header .site-title {
  font-weight: 500;
}

.site-header nav {
  display: flex;
}

#theme-toggle {
  cursor: pointer;
  margin-left: .5em;
  line-height: 1.5rem;
}

.site-header nav {
  margin-left: auto;
}

.site-header nav .nav-page:not(:first-of-type) {
  margin-left: 1.5rem;
}

/* Footer ********************************************************************/

.site-footer {
  font-size: .9rem;
  margin: 1rem 0;
  flex-wrap: wrap;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-footer p {
  margin: 0;
}

/* Contents ******************************************************************/

.faded {
  color: var(--text-faded-color);
}

.post-header {
  margin-bottom: 2rem;
}

.post-header .post-title {
  margin: 0;
}

.post-header .post-info {
  display: flex;
  justify-content: space-between;
  margin-top: .5rem;
}

.posts {
  list-style-type: none;
  padding-left: 0;
}

.posts li:not(:last-of-type) {
  margin-bottom: 2.5rem;
}

.posts li:before {
  content: "\21a0";
}

.posts .post-title {
  margin: .5rem 0 0 0;
}

.posts .post-excerpt {
  margin: .5rem 0;
}

/* Keyboard keys *************************************************************/

kbd {
  background-color: var(--background-color);
  border: 1px solid var(--kbd-border-color);
  border-radius: 3px;
  box-shadow: 0 1px 0 var(--kbd-border-color),0 0 0 2px var(--kbd-text-shadow-color) inset;
  color: var(--text-default-color);
  display: inline-block;
  font-family: Menlo, Courier, Consolas, Monospace;
  line-height: 1rem;
  text-align: center;
  margin: 0 .3rem;
  padding: .25rem .5rem;
}

/* Code blocks & highlighting ************************************************/

pre, code {
  font-family: Menlo, Courier, Consolas, monospace;
  font-size: .9rem;
  line-height: 1.25rem;
  overflow: auto;
  white-space: pre;
}

pre.highlight, code.highlighter-rouge {
  color: var(--code-text-color);
  background-color: var(--code-background-color);
  border: 1px solid var(--border-color);
  border-radius: 3px;
}

code.highlighter-rouge {
  padding: .1rem .2rem;
}

pre.lineno {
  color: var(--border-color);
  margin: 0;
  -webkit-user-select: none;
  user-select: none;
}

.rouge-gutter {
  padding: 0 .5rem;
}

.rouge-code pre {
  margin: 0;
  padding: .5rem 0;
}

{% include syntax.css %}

/* Media queries *************************************************************/

@media screen and (max-width: 640px) {
  .site-header {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .page-content {
    margin: 1rem;
  }
}

@media screen and (max-width: 599px) {

  .page-title {
    text-align: center;
  }

  .site-header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }

  .post-info {
    flex-direction: column;
  }

  .site-header nav,
  .site-header nav .nav-page {
    margin: 0;
  }

  .site-footer {
    margin: 0 2rem;
  }

  #theme-toggle {
    margin: 1rem 0;
    padding: 0;
  }

  blockquote:before {
    content: open-quote;
    margin-left: -.5em;
    margin-top: -.5em;
  }

  blockquote:after {
    content: close-quote;
    bottom: 0;
    right: 0;
    margin-right: -.5em;
    margin-bottom: -.5em;
  }
}

/* Fonts *********************************************************************/

@font-face {
  font-family: "Zilla Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Zilla Slab"), local("ZillaSlab-Regular"),
       url("/assets/fonts/zilla-slab-v5-latin-regular.woff2") format("woff2"),
       url("/assets/fonts/zilla-slab-v5-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Zilla Slab";
  font-style: italic;
  font-weight: 400;
  src: local("Zilla Slab Italic"), local("ZillaSlab-Italic"),
       url("/assets/fonts/zilla-slab-v5-latin-italic.woff2") format("woff2"),
       url("/assets/fonts/zilla-slab-v5-latin-italic.woff") format("woff");
}

@font-face {
  font-family: 'Zilla Slab';
  font-style: normal;
  font-weight: 500;
  src: local('Zilla Slab Medium'), local('ZillaSlab-Medium'),
       url('/assets/fonts/zilla-slab-v5-latin-500.woff2') format('woff2'),
       url('/assets/fonts/zilla-slab-v5-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'Zilla Slab';
  font-style: italic;
  font-weight: 500;
  src: local('Zilla Slab Medium Italic'), local('ZillaSlab-MediumItalic'),
       url('/assets/fonts/zilla-slab-v5-latin-500italic.woff2') format('woff2'),
       url('/assets/fonts/zilla-slab-v5-latin-500italic.woff') format('woff');
}

@font-face {
  font-family: 'Zilla Slab';
  font-style: normal;
  font-weight: 600;
  src: local('Zilla Slab SemiBold'), local('ZillaSlab-SemiBold'),
       url('/assets/fonts/zilla-slab-v5-latin-600.woff2') format('woff2'),
       url('/assets/fonts/zilla-slab-v5-latin-600.woff') format('woff');
}

@font-face {
  font-family: 'Zilla Slab';
  font-style: italic;
  font-weight: 600;
  src: local('Zilla Slab SemiBold Italic'), local('ZillaSlab-SemiBoldItalic'),
       url('/assets/fonts/zilla-slab-v5-latin-600italic.woff2') format('woff2'),
       url('/assets/fonts/zilla-slab-v5-latin-600italic.woff') format('woff');
}

/* Icons *********************************************************************/

@font-face {
  font-family: "Icons";
  src: url("/assets/fonts/icons.woff2") format("woff2"),
       url("/assets/fonts/icons.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: block;
}

[class^="icon-"],[class*=" icon-"] {
  font-family: "Icons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1rem;
  color: var(--accent-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-about:before { content: "\e800"; }
.icon-blog:before { content: "\e801"; }
.icon-projects:before { content: "\e802"; }
.icon-light:before { content: "\e803"; }
.icon-dark:before {content: "\e804"; }
.icon-mail:before {content: "\e805"; }
.icon-ghub:before {content: "\e806"; }
.icon-lnkdn:before {content: "\e807"; }
.icon-twttr:before {content: "\e808"; }
