<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ site.name }}">
    <title>{{ page.title }} — {{ site.title }}</title>
  <style>
   {% include style.css %}
  </style>
  </head>
  <script type="text/javascript">
   {% include webfonts.js %}
  </script>
  <body>
    <main>
      <header>
        <div class="avatarandtitle">
          <img id="theme-toggle" src="{{ site.url }}/assets/img/avatar.jpg" />
          <h1>{{ site.name }}</h1>
        </div>
        <nav>
          <div class="nav-page">
            <h2>
              <span class="icon-info"></span>
              <a href="{{ site.url }}">About</a>
            </h2>
          </div>
          <div class="nav-page">
            <h2>
              <span class="icon-code"></span>
              <a href="{{ site.url }}/projects">Projects</a>
            </h2>
          </div>
          <div class="nav-page">
            <h2>
              <span class="icon-docs"></span>
              <a href="{{ site.url }}/blog">Blog</a>
            </h2>
          </div>
        </nav>
      </header>
