<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} — {{ site.name }}</title>
    <meta name="viewport" content="width=device-width initial-scale=1">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/syntax.css">
    <link href='{{ site.url }}/assets/css/fonts.css' rel='stylesheet' type='text/css'>
    <link href="{{ site.url }}/assets/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>

    <div class="header">
      <div class="avatarandtitle">
        <img src="https://avatars0.githubusercontent.com/u/850396?v=3&s=400" />
        <h1>{{ site.name }}</h1>
      </div>
      <div class="nav">
        <div class="nav-page"><a href="/">Home</a></div>
        <div class="nav-separator">-</div>
        <div class="nav-page"><a href="{{ site.url }}/projects">Projects</a></div>
        <div class="nav-separator">-</div>
        <div class="nav-page"><a href="{{ site.url }}/blog">Blog</a></div>
      </div>
    </div>

    <div class="container">
