--bg-color: #fff;
--bg-color-alt: #aaa;

--text-color: #303030;
--link-color: #8085c1;
--link-hover-color: #aaaac1;
--icon-color: #303030;
--separator-color: #e0e0e0;

--kbd-color: #333;
--kbd-bg-color: #f7f7f7;
--kbd-border-color: #ccc;
--kbd-text-shadow-color: #fff;
