--background-color: #ffffff;

--code-background-color: #444444;
--code-text-color: #f7f7f7;

--border-color: #aaaaaa;

--text-default-color: #333333;
--text-faded-color: #999999;

--accent-color: #ef5350;

--kbd-border-color: #cccccc;
--kbd-text-shadow-color: #ffffff;
