.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #8F8F8F }
.highlight .err { color: #F7F7F7 }
.highlight .esc { color: #F7F7F7 }
.highlight .g { color: #F7F7F7 }
.highlight .k { color: #D1FA71 }
.highlight .l { color: #F7F7F7 }
.highlight .n { color: #F7F7F7 }
.highlight .o { color: #F7F7F7 }
.highlight .x { color: #F7F7F7 }
.highlight .p { color: #F7F7F7 }
.highlight .cm { color: #8F8F8F }
.highlight .cp { color: #D1FA71 }
.highlight .c1 { color: #8F8F8F }
.highlight .cs { color: #8F8F8F }
.highlight .gd { color: #ffffff; font-weight: bold; background-color: #c00000 }
.highlight .ge { color: #ff00ff; text-decoration: underline; }
.highlight .gr { color: #F7F7F7; background-color: #c00000 }
.highlight .gh { color: #88CCE7 }
.highlight .gi { color: #ffffff; font-weight: bold; background-color: #008000 }
.highlight .go { color: #8F8F8F; font-weight: bold }
.highlight .gp { color: #F7F7F7 }
.highlight .gs { color: #F7F7F7 }
.highlight .gu { color: #88CCE7 }
.highlight .gt { color: #F7F7F7; background-color: #c00000 }
.highlight .kc { color: #D1FA71 }
.highlight .kd { color: #D1FA71 }
.highlight .kn { color: #D1FA71 }
.highlight .kp { color: #D1FA71 }
.highlight .kr { color: #D1FA71 }
.highlight .kt { color: #96D9F1 }
.highlight .ld { color: #F7F7F7 }
.highlight .m { color: #F6DC69 }
.highlight .s { color: #F6DC69 }
.highlight .na { color: #F7F7F7 }
.highlight .nb { color: #F7F7F7 }
.highlight .nc { color: #F7F7F7 }
.highlight .no { color: #96D9F1 }
.highlight .nd { color: #F7F7F7 }
.highlight .ni { color: #d7d7d7 }
.highlight .ne { color: #F7F7F7 }
.highlight .nf { color: #F7F7F7 }
.highlight .nl { color: #F7F7F7 }
.highlight .nn { color: #F7F7F7 }
.highlight .nx { color: #F7F7F7 }
.highlight .py { color: #F7F7F7 }
.highlight .nt { color: #D1FA71 }
.highlight .nv { color: #96D9F1 }
.highlight .ow { color: #F7F7F7 }
.highlight .w { color: #F7F7F7 }
.highlight .mb { color: #F6DC69 }
.highlight .mf { color: #F6DC69 }
.highlight .mh { color: #F6DC69 }
.highlight .mi { color: #F6DC69 }
.highlight .mo { color: #F6DC69 }
.highlight .sb { color: #F6DC69 }
.highlight .sc { color: #F6DC69 }
.highlight .sd { color: #F6DC69 }
.highlight .s2 { color: #F6DC69 }
.highlight .se { color: #F6DC69 }
.highlight .sh { color: #F6DC69 }
.highlight .si { color: #F6DC69 }
.highlight .sx { color: #F6DC69 }
.highlight .sr { color: #F6DC69 }
.highlight .s1 { color: #F6DC69 }
.highlight .ss { color: #F6DC69 }
.highlight .bp { color: #F7F7F7 }
.highlight .vc { color: #96D9F1 }
.highlight .vg { color: #96D9F1 }
.highlight .vi { color: #96D9F1 }
.highlight .il { color: #F6DC69 }
