body {
  background-color: #202020;
  color: #bbb;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1, h2 {
  color: #aaa;
}

h3, h4, h5, h6 {
  color: #808080;
}

a {
  color: #e0e0e0;
}

a > span[class^="icon-"],
a > span[class*=" icon-"] {
  color: #aaa;
}

a:hover,
a > span[class^="icon-"]:hover,
a > span[class*=" icon-"]:hover {
  color: #fff;
}

hr {
  background-color: #606060;
}

blockquote {
  border-left-color: #808080;
  border-width: 1px;
}

article a, section a {
  border-bottom: 1px dashed;
}

article h2 {
  border-color: #484848;
}

.highlight,
code.highlighter-rouge {
  background-color: #282828;
  border: 1px solid #484848;
  color: #e0e0e0;
}

kbd {
  background-color: #282828;
  border: 1px solid #484848;
  box-shadow: 0 1px 0 #484848, 0 0 0 2px #202020 inset;
  color: #ccc;
  text-shadow: 0 1px 0 #484848;
}
