@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.woff2?95545497') format('woff2'),
  url('../fonts/fontello.woff?95545497') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  display: inline-block;
  font-family: "fontello";
  font-size: 1.25rem;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1rem;
  margin: 0 .25rem;
  speak: none;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.icon-docs:before { content: '\e800'; }

.icon-mail:before { content: '\e801'; }

.icon-info:before { content: '\e802'; }

.icon-code:before { content: '\e803'; }

.icon-github:before { content: '\f300'; }

.icon-twitter:before { content: '\f309'; }
